/*HOMEPAGE*/

.intro{
    font-family: 'Averia Libre', cursive;
    margin-left: 5vw;
    margin-right: 10vw;
}


.row{
    margin-left: 5vw;
    font-family: 'Averia Libre', cursive;
}

*{
  box-sizing: border-box;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#gif{
    position: absolute;
    z-index: 2;
    margin-left: 5%;
    margin-top: -12%;
/*
    margin-left: 12vw;
    margin-top: -45vh;
*/
}

.creds{
    font-family: 'Averia Libre', cursive;
    font-size: 12px;
    margin-left: 6vw;
    margin-top: 13vh;
    
}

iframe{
    width:275px;
    height: 275px;
} 


/*END OF HOMEPAGE*/

/*READING RESPONSE PAGES*/

.reading1{
    font-family: 'Averia Libre', cursive;
    margin-left: 5vw;
    margin-top: 12vh;
    margin-right: 5vw;
}
