.player {
    bottom: 0;
    position: fixed;
    left: 2;
}


.pop-up {
    display: none;
    background-image: url(assets/overlay.png);
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 40;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}



.babyme {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 43vh;
    z-index: 25;
}

.explainer {
    display: none;
    position: fixed;
    font-family: sans-serif;
    font-size: 16px;
    margin-top: 20vh;
    margin-left: 15vw;
    border: 3.5px solid black;
    padding: 15px;
    background: white;
}



#gif2{
    position: absolute;
    z-index: 23;
    margin-top: 40vh;
    margin-left: 24vw;
}

#gif3{
    position: absolute;
    z-index: 23;
    margin-top: 70vh;
    margin-left: 33vw;
}

#gif4{
    position: absolute;
    z-index: 23;
    margin-top: 10vh;
    margin-left: 37vw;
}


/*I took the css for the button from the internet, did not code myself*/

.button {
    background-image: linear-gradient(to right, #E55D87 0%, #5FC3E4 51%, #E55D87 100%)
}

.button{
    position: fixed;
    margin-top: 85vh;
    margin-left: 47vw;
    z-index: 30;
}

.button {
    padding: 15px 45px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}


.button:hover {
    background-position: right center;
    change the direction of the change here color: #fff;
    text-decoration: none;
    cursor: help;
}


#img0 {
    position: absolute;
    margin-top: 40vh;
    margin-left: 60vw;
    z-index: 0;
    border: 7px solid magenta;
    box-shadow: 12px 12px 2px 1px black;
}

#img1 {
    position: absolute;
    margin-top: 22vh;
    margin-left: 65vw;
    z-index: 1;
    border: 5px solid red;
}

#img2 {
    position: absolute;
    margin-top: 7vh;
    margin-left: 55vw;
    border: 5px solid red;
}

#img3 {
    position: absolute;
    margin-top: 30vh;
    margin-left: 45vw;
    border: 5px solid red;
}

#img4 {
    position: absolute;
    margin-top: 17vh;
    margin-left: 70vw;
    border: 5px solid blue;
    z-index: 2;
}

#img5 {
    position: absolute;
    margin-top: 3vh;
    margin-left: 66vw;
    border: 5px solid blue;
    z-index: 2;
}

#img6 {
    position: absolute;
    margin-top: 29vh;
    margin-left: 53vw;
    border: 5px solid blue;
    z-index: 2;
}

#img7 {
    position: absolute;
    margin-top: 30vh;
    margin-left: 70vw;
    border: 5px solid green;
    z-index: 3;
}

#img8 {
    position: absolute;
    margin-top: 14vh;
    margin-left: 56vw;
    border: 5px solid green;
    z-index: 3;
}

#img9 {
    position: absolute;
    margin-top: 50vh;
    margin-left: 70vw;
    border: 5px solid green;
    z-index: 3;
}

#img10 {
    position: absolute;
    margin-top: 35vh;
    margin-left: 70vw;
    border: 5px solid yellow;
    z-index: 4;
}

#img11 {
    position: absolute;
    margin-top: 37vh;
    margin-left: 47vw;
    border: 5px solid yellow;
    z-index: 4;
}

#img12 {
    position: absolute;
    margin-top: 5vh;
    margin-left: 70vw;
    border: 5px solid yellow;
    z-index: 4;
}

#img13 {
    position: absolute;
    margin-top: 30vh;
    margin-left: 76vw;
    border: 5px solid purple;
    z-index: 5;
}

#img14 {
    position: absolute;
    margin-top: 70vh;
    margin-left: 70vw;
    border: 5px solid purple;
    z-index: 5;
}

#img16 {
    position: absolute;
    margin-top: 65vh;
    margin-left: 57vw;
    border: 5px solid indigo;
    z-index: 6;
}

#img17 {
    position: absolute;
    margin-top: 33vh;
    margin-left: 53vw;
    border: 5px solid indigo;
    z-index: 6;
}

#img18 {
    position: absolute;
    margin-top: 47vh;
    margin-left: 50vw;
    border: 5px solid indigo;
    z-index: 6;
}


#img21 {
    position: absolute;
    margin-top: 53vh;
    margin-left: 50vw;
    border: 5px solid pink;
    z-index: 7;
}

#img22 {
    position: absolute;
    margin-top: 60vh;
    margin-left: 75vw;
    border: 5px solid pink;
    z-index: 7;
}

#img23 {
    position: absolute;
    margin-top: 11vh;
    margin-left: 72vw;
    border: 5px solid pink;
    z-index: 7;
}

#img24 {
    position: absolute;
    margin-top: 22vh;
    margin-left: 64vw;
    border: 5px solid brown;
    z-index: 8;
}

#img25 {
    position: absolute;
    margin-top: 52vh;
    margin-left: 72vw;
    border: 5px solid brown;
    z-index: 8;
}
