#backgroundvid {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.images {
    width: 300px;
}

.rollingtext {
    font-family: sans-serif
    
}
